<!DOCTYPE html>
<html lang="en">
<head>
	
	<meta charset="utf-8">
	<?php echo $this->headTitle('Admin Login'); ?>
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta name="author" content="GaZEND">

	<!-- The styles -->
		
	<?php 
	echo $this->headLink()
	          ->prependStylesheet($this->asset('css/bootstrap-cerulean.css'));
    ?>
    <style type="text/css">
	  body {
		padding-bottom: 40px;
	  }
	  .sidebar-nav {
		padding: 9px 0;
	  }
	</style>
	<!-- The HTML5 shim, for IE6-8 support of HTML5 elements -->
	<!--[if lt IE 9]>
	  <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
	<![endif]-->

	<!-- The fav icon -->
	<link rel="shortcut icon" href="img/favicon.ico">
		
</head>

<body>

	<?php echo $this->render('login/content.phtml'); ?>

	<!-- external javascript
	================================================== -->
    <?php echo $this->headScript(); ?>
	
		
</body>
</html>